{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Modificar árbitro</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Guardar</button>
    {{ form_end(form) }}
    <a href="{{ path('arbitro_listar') }}">&lt; Volver al listado sin guardar</a>
{% endblock %}