<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Árbitros</title>
</head>
<body>
    <table border="1px">
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Nº colegiado</th>
            <th></th>
        </tr>
        {% for arbitro in arbitros %}
            <tr>
                <td>{{ arbitro.nombre }}</td>
                <td>{{ arbitro.apellidos }}</td>
                <td>{{ arbitro.numColegiado }}</td>
                <td><a href="{{ path('arbitro_modificar', {'id': arbitro.id}) }}">Editar</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>